body{

    background-image: url(birth.jpg);
    text-emphasis-color: bold;
    marquee text-size-adjust: 50px;
    font-family: cursive;
    color: #0062ff;
}
div{
background-color: rgb(251, 255, 0);
text-align: center;


}
marquee{

    text-align: start;
    text-decoration: springgreen;
    text-emphasis-color: springgreen;
    font-size: 30px;
    text-align: center;
    align-items: center;

    
}
