body{

    background-image: url(birth.jpg);
    text-emphasis-color: #00f0fc;
    marquee text-size-adjust: 50px;
    font-family: cursive;
}
div{
background-color: aqua;
text-align: center;


}
marquee{

    text-align: start;
    text-decoration: springgreen;
    text-emphasis-color: springgreen;
    font-size: 30px;
    text-align: center;
    align-items: center;

    
}