body{
    background-color: rgba(121, 217, 226, 0.822);
    background-image:url(birth.jpg);
    background-size: 300px;
    margin:0;
    padding:0;
  }
  
  .header{
    background-color: rgb(90, 199, 239);
  }
  .header a{
    color: white;
  }
  
  .present-img{
    width: 300px;
  }